body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
    flex: 1;
}

.circulo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;  
  border-radius: 50%;
  border-color: #f0f8ff;
  border: 2px solid;
}

.input-mio {
  width: 75px;
}

.btn-agregar {
  width: 130px;
  background-color: #2B3037;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: 150ms ease-in-out;
}

.btn-agregar:hover {
  color: #adff2f;
}

.btn-iniciar {
  width: 130px;
  background-color: #2B3037;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: 150ms ease-in-out;
}

.btn-iniciar:hover {
  color: #42a8f6;
}

.btn-detener {
  width: 130px;
  background-color: #2B3037;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: 150ms ease-in-out;
}

.btn-detener:hover {
  color: #f44646;
}

.btn-reset {
  width: 130px;
  background-color: #2B3037;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: 150ms ease-in-out;
}

.btn-reset:hover {
  color: yellow;
}


